*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* BODY ************************************************************************/

/* html.nuit {
    --texte: white;
    --color1: rgb(31, 29, 29);
    --color3: rgb(95, 86, 86);
    --color4: rgb(0, 0, 0);
    --body: rgb(34, 34, 34);
    --bgcolor: rgb(53, 51, 51);
} */

body{
    background: linear-gradient(217deg, rgb(230, 0, 0), rgba(255,0,0,0) 50%),
    linear-gradient(127deg, rgba(0,255,0,1), rgba(0,230,0,0) 50%),
    linear-gradient(336deg, rgba(0,0,255,1), rgba(0,0,230,0) 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    overflow: hidden;
}

/* HEADER ******************************************************************************/

header {
    display: flex;
    backdrop-filter: blur();
    backdrop-filter: saturate(65%);
    width: 100%;
    height: 10%;
    margin-bottom: 1%;
}

.tete {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0.1%;
}

/* LOGO ****************************************************************/

.logo {
    height: 100%;
    margin: 0% 0% 0% 7%;
}

header > .tete > .logo > img {
    width: 35%;
}

/* BUTTON CONNECT *******************************************************/

.connect_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1%;
    margin: 0% -2% 0% 35%;
    height: 70%;
    width: 30%;
}

.connect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14em;
    height: 70%;
    margin-right: 50px;
}

.subscribebtn{
    background-color: var(--headersecondarycolor);
    border: none;
    color: white;
    font-size: 17px;
    text-align: center;
    padding: 10px 10px;
    opacity: 0.65;
    transition: 0.15s;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}

.subscribebtn:hover{
    opacity: 1;
}

header > .tete > .connect_btn > .connect > button{
    width: 7em;
    height: 3.5em;
}

/* DARK MODE  ************************************************************/

/* .mode_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 35%;
}

header > .tete > .connect_btn > .mode_btn > button{
    width: 1em;
    height: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: var(--color1);
    background-color: var(--texte);
}


header > .tete > .connect_btn > .mode_btn > button > h3 {
    font-size: 20%;
    margin: 0;
}


header > .tete > .connect_btn > .mode_btn > button:hover{
    cursor:pointer;
    border-radius: 20px;
    transition: all 0.5s ease-out;
} */


/* NAVBAR ***************************************************************/

.navbar{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.h2 > a{
    cursor: pointer;
    text-decoration: none;
}

.h2 > a:hover{
    text-decoration: underline;
}

.searchform{
    margin: 0;
}

.searchbar{
    height: 2.5em;
    width: 15em;
    color: var(--textcolor);
    border: none;
    border-radius: 2.5px;
    border: 1px solid black;
}

.searchbtn{
    background-color: var(--maincolor);
    border: solid var(--secondarycolor) 1px;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 7px 5px 8px 5px;
    opacity: 0.65;
    transition: 0.15s;
    border-radius: 2.5px;
    cursor: pointer;
}

.searchbtn:hover{
    opacity: 1;
}

.sortby{
    background-color: white;
    visibility: hidden;
}

/* GRID ***********************************************************************/

.grid{
    height: 36.25em;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    overflow-y: scroll;
}

.grid::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
    border-radius: 10px;
}
  
.grid::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #a5a5a5, #333333);
    border-radius: 10px;
}

.quiz{
    background-color: red;
    height: 300px;
    cursor: pointer;
}

/* .quiz:first-of-type{
}

.quiz:last-of-type{
} */
