*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--textcolor);
}

:root{
    --bgcolor: #f2f2f2;
    --textcolor: #0D0D0D;
    --headercolor: #3671BF;
    --headersecondarycolor: #27538C;
    --maincolor: #A9D943;
    --secondarycolor: #98BF45;
}


/* HTML,body ************************************************************************/

html {
    color: var(--color1);
}

html.nuit {
    /* --texte: white;
    --color1: rgb(31, 29, 29);
    --color3: rgb(95, 86, 86);
    --color4: rgb(0, 0, 0);
    --body: rgb(34, 34, 34); */
    --bgcolor: rgb(53, 51, 51);
}

body{
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}

/* HEADER ******************************************************************************/

header {
    display: flex;
    border: 1.5px solid black;
    border-radius: 0 0 20px 20px;
    padding: 0.1%;
    margin-bottom: 2%;
    width: 99.8%;
    height: 7em;
    background-color: var(--headercolor);
}



.tete {
    width: 100%;
    height: 100%;
    /* border: 3px solid rgb(20, 20, 123); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0.1%;
}

/* LOGO ****************************************************************/

.logo {
    /* border: 2px solid black; */
    height: 100%;
    margin: 0% 0% 0% 7%;
}

header > .tete > .logo > img {
    width: 100%;
    height: 100%;
}

/* BUTTON CONNECT *******************************************************/

.connect_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    padding: 0.1%;
    margin: 0% 3% 0% 0%;
    height: 70%;
    width: 30%;
}


.connect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    width: 60%;
    height: 70%;
}

.subscribebtn{
    background-color: var(--headersecondarycolor);
    border: none;
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 15px;
    padding: 15px 20px;
    opacity: 0.65;
    transition: 0.15s;
    border-radius: 2.5px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;

}

.subscribebtn:hover{
    opacity: 1;
}

header > .tete > .connect_btn > .connect > button {
    width: 7em;
    height: 3.5em;
}

/* DARK MODE  ************************************************************/

.mode_btn {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 35%;
} 

header > .tete > .connect_btn > .mode_btn > button{
    width: 1em;
    height: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: var(--color1);
    background-color: var(--texte);
}


header > .tete > .connect_btn > .mode_btn > button > h3 {
    font-size: 20%;

}


header > .tete > .connect_btn > .mode_btn > button:hover{
    cursor:pointer;
    border-radius: 20px;

    transition: all 0.5s ease-out;

}


/* NAVBAR ***************************************************************/

.navbar{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.h2 > a{
    cursor: pointer;
    text-decoration: none;
}

.h2 > a:hover{
    text-decoration: underline;
}

.searchform{
    margin: 0;
}

.searchbar{
    height: 2.5em;
    width: 15em;
    color: var(--textcolor);
    border: none;
    border-radius: 2.5px;
    border: 1px solid black;
}

.searchbtn{
    background-color: var(--maincolor);
    border: solid var(--secondarycolor) 1px;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 7px 5px 8px 5px;
    opacity: 0.65;
    transition: 0.15s;
    border-radius: 2.5px;
    cursor: pointer;
}

.searchbtn:hover{
    opacity: 1;
}

.sortby{
    background-color: white;
}

/* GRID ***********************************************************************/

.grid{
    background-color: green;
    height: 150px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.quiz{
    background-color: red;
    height: 300px;
    cursor: pointer;
}

.quiz:last-of-type{
    background-color: blue;
    margin-bottom: 50px;
}   