html,body{
    height: 100%;
    color: rgb(0, 0, 0);
    font-family: 'Overpass', sans-serif;

    margin: 5px;
}

head {
    display: flex;
}

header {
    display: flex;
    justify-content: space-evenly;

    border: 2px solid black;
    border-radius: 30px;

    padding: 75px 550px 75px 0;
}

.titre {
    margin: 0 200px 0 500px;
}

.DMode {
    margin-right: 100px;
}

.DMode > img {
    width: 50px;
    height: 50px;
}

/* .DMode:hover {
    cursor:pointer;
    background-color: #1b232b;

    border-radius: 20px;
} */

