:root {
    --color1: rgb(233, 233, 233);
    --header: #BFBFBF;
    --color3: #404040;
    --color4: #0D0D0D;
    --texte: rgb(0, 0, 0);
}


html,body{
    height: 100%;
    color: var(--texte);
    font-family: 'Overpass', sans-serif;

    margin: 5px;

    background-color: var(--color1);
}


html.nuit {
    --texte: white;
    --color1: rgb(31, 29, 29);
    --color3: rgb(95, 86, 86);
}

head {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    border: 2px solid black;
    border-radius: 30px;

    background-color: var(--header);
}

.logo {
    margin: 0 0 150px 130px;
}

.titre {
    font-size: 70px;

}

img {    
    margin-right: 100px;

}

img{
    width: 50px;
    height: 50px;
}

/* img:hover {
    cursor:pointer;
    background-color: #1b232b;

    border-radius: 20px;

    transform: scale(1.02);
    transition: all 0.5s ease-out;
} */

.button:hover {
    cursor:pointer;
    background-color: #516375;

    border-radius: 20px;

    /* transform: scale(1.02); */
    transition: all 0.5s ease-out;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

#themeLogo {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.quiz {
    /* border: 2px solid black; */
    border-radius: 50px;
    height: 200px;
    width: 300px;

    margin: 40px 0 0 41%;


    display: flex;
    align-items: center;
    justify-content: center;

}

.quiz:hover {
    cursor: pointer;
    background-color: rgb(61, 55, 55);

    transform: scale(1.02);
    transition: all 0.5s ease-out;
}

.quiz:active{
    position:relative;
    left:2px;
    top:2px;
}


.quiz2 {
    font-size: 7em;
}

.creation {
    /* border: 2px solid black; */
    border-radius: 50px;
    height: 200px;
    width: 800px;

    margin: 40px 0 0 28%;


    display: flex;
    align-items: center;
    justify-content: center;
}

.creation2 {
    font-size: 5.5em;
}

.creation:hover {
    cursor: pointer;
    background-color: rgb(61, 55, 55);

    transform: scale(1.02);
    transition: all 0.5s ease-out;
}

.creation:active{
    position:relative;
    left:2px;
    top:2px;
}

.info {
    border: 2px solid black;
    border-radius: 50px;

    width: 300px;
    height: 120px;

    margin: 10px;
    padding: 10px;


}
