/* HTML,BODY ####################################################################################### */

html, body {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}

/* HEADER ########################################################################################## */

header > .header_box {
    display: flex;
    background-color: #1B3B6F;
    width: 100%;
    height: 80px;
}

header > .header_box > .home_btn > .home {
    position: absolute;
    height: 80px;
    width: 205px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header > .header_box > .home_btn > .quizzeo_logo {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

header > .header_box > .nav_part {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header > .header_box > .nav_part > .quizzeo_title {
    color: #ffffff;
}

header > .header_box > .nav_part > .nav_btns {
    display: flex;
}

header > .header_box > .nav_part > .nav_btns > .account_btns {
    display: flex;
    align-items: center;
}

header > .header_box > .nav_part > .nav_btns > .account_btns > .pnl_btn > .adm_btn {
    height: 25px;        
    font-size:small;
    margin-right: 10px;
    padding: 1px 10px;
    border-radius: 30px;
    border: 0px transparent;
    background-color: #FFFFFF;
    transition: all ease-in-out .5s;
}

header > .header_box > .nav_part > .nav_btns > .account_btns > .pnl_btn > .adm_btn:hover {
    transform: scale(1.075);
}

header > .header_box > .nav_part > .nav_btns > .account_btns > .pnl_btn > .adm_btn:active {    
    transition: all ease-in-out .1s;
    transform: scale(1.25);
}

header > .header_box > .nav_part > .nav_btns > .account_btns > .sub_btn {
    height: 25px;        
    font-size:small;
    margin-right: 10px;
    padding: 1px 10px;
    border-radius: 30px;
    border: 0px transparent;
    background-color: #FFFFFF;
    transition: all ease-in-out .5s;
}

header > .header_box > .nav_part > .nav_btns > .account_btns > .sub_btn:hover {
    transform: scale(1.075);
}

header > .header_box > .nav_part > .nav_btns > .account_btns > .sub_btn:active {    
    transition: all ease-in-out .1s;
    transform: scale(1.25);
}

header > .header_box > .nav_part > .nav_btns > .account_btns > .log_btn {
    height: 25px;
    font-size:small;
    margin-right: 10px;
    padding: 1px 10px;
    border-radius: 30px;
    border: 0px transparent;
    background-color: #FFFFFF;
    transition: all ease-in-out .5s;
}

header > .header_box > .nav_part > .nav_btns > .account_btns > .log_btn:hover {
    transform: scale(1.075);
}

header > .header_box > .nav_part > .nav_btns > .account_btns > .log_btn:active {    
    transition: all ease-in-out .1s;
    transform: scale(1.25);
}

header > .header_box > .nav_part > .nav_btns > .dark_mode {
    width: 80px;
    height: 80px;
    background-color: blue;
    border: transparent 0px;
}

/* BODY ########################################################################################## */

body {
    background: #FFFFFF;
    font-family: 'Overpass', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

    /* BTN_SECTION ########################################################################################## */

    body > .btn_section {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        /* background-color: red; */
        height: 40px;
        margin-top: 20px;
    }

    body > .btn_section > .searchbar_section {
        /* background-color: violet; */
        display: flex;
        align-items: center;
    }

    body > .btn_section > .searchbar_section > .searchbar {
        position: relative;
        font-family: 'Overpass', sans-serif;
        font-size:small;
        background-color: #FFFFFF;
        border: none;
        color: #000;
        padding: 10px 30px;
        border-radius: 30px;
        box-shadow: rgba(60, 60, 128, 0.251) 0px 7px 29px 0px;
        width:240px;
        transition: all ease-in-out .25s;
        /* background-color: rgb(138, 52, 219); */
    }

    body > .btn_section > .searchbar_section > .searchbar:focus {
        transform: scale(1.2);
    }

    /* body > .btn_section > .searchbar_section > .searchbar:active {
        border: white;
    } */

    body > .btn_section > .filter {
        position: absolute;
        right: 15px;
        display: flex;
        margin-left: auto;
        margin-right: 0px;
        flex-direction: row;
        width: 9%;
        height: 40px;
        /* border: 2px solid black;  */
        /* background-color: cyan; */
        /* width: 100px; */
        align-items: center;
        justify-content: space-between;
        margin-right: 2%;
    }

    body > .btn_section > .filter > .add_btn > img {
        margin-top : 8px;
        margin-left : 8px;
        margin-bottom: 0px;
        /* margin-left: 13px; */
        height: 50px;
        /* background-color: pink; */
        transition: all ease-in-out .25s;
    }

    body > .btn_section > .filter > .add_btn > img:hover {
        transform: scale(1.1);
    }

    body > .btn_section > .filter > .add_btn > img:active {
        transition: all ease-in-out .1s;
        transform: scale(1.25);
    }

    /* body > .btn_section > .filter > .filter_options {
        background-color: rgb(162, 46, 216);
    } */

    body > .btn_section > .filter > .filter_options > .filter_selection {
        position: relative;
        font-family: 'Overpass', sans-serif;
        font-size:small;
        background-color: #FFFFFF;
        border-radius: 30px;
        border: none;
        padding: 7px 5px;
        box-shadow: rgba(60, 60, 128, 0.251) 0px 7px 29px 0px;
        text-align: center;
        transition: all ease-in-out .5s;
    }

    body > .btn_section > .filter > .filter_options > .filter_selection:hover {
        transform: scale(1.05);
    }

    body > .btn_section > .filter > .filter_options > .filter_selection:active {
        transition: all ease-in-out .1s;
        background-color: #e0e0e0;
    }

    body > .btn_section > .filter > .filter_options > .filter_selection > option {
        border: none;
        background-color: #FFFFFF;
        transition: all ease-in-out .5s;
    }

    /* ########################################################################################## */

    /* QUIZ_SECTION ############################################################################# */

    body > .quiz_section {
        /* background-color: #F1F1F1; */
        margin-left: 2%;
        margin-right: 2%;
    }


    body > .quiz_section > .theme_txt {
        color: #000;
    }

    body > .quiz_section > .quiz_line1 {
        /* background-color: red; */
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 300px;
    }

        /* QUIZZ_LIST */

        body > .quiz_section > .quiz_line1 > .quiz1 {
            background-color: blue;
            border-radius: 10px;
            margin-right: 1.5%;
        }

        body > .quiz_section > .quiz_line1 > .quiz2 {
            background-color: green;
            border-radius: 10px;
            margin-right: 1.5%;
        }

        body > .quiz_section > .quiz_line1 > .quiz3 {
            background-color: pink;
            border-radius: 10px;
            margin-right: 1.5%;
        }

        body > .quiz_section > .quiz_line1 > .quiz4 {
            background-color: rgb(18, 186, 130);
            border-radius: 10px;
            margin-right: 1.5%;
        }

        body > .quiz_section > .quiz_line1 > .quiz5 {
            background-color: rgb(163, 31, 154);
            border-radius: 10px;
            margin-right: 1.5%;
        }

        body > .quiz_section > .quiz_line1 > .quiz6 {
            background-color: rgb(19, 172, 27);
            border-radius: 10px;
            margin-right: 1.5%;
        }

        body > form > .log_popup {
            background-color: transparent;
            position: relative;
            top : 0px;
            width: 100%;
            height: 500px;
            visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body > form > .log_popup > .log_part {
            background-color: rgb(255, 255, 255);
            height: 300px;
            width: 400px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            visibility: hidden ;
            align-items: center;
            /* z-index: 1; */
            /* box-shadow; */ 
        }

        body > form > .log_popup > .log_part > .log_title {
            color: #000;
            text-align: center;
        }

        body > form > .log_popup > .log_part > .log_user_title {
            color: #000;
            margin-top: 15px;
        }

        body > form > .log_popup > .log_part > .log_user_input {
            margin : 5px 0px;
        }

        body > form > .log_popup > .log_part > .log_user_input > input{
            border-radius: 30px;
        }

        body > form > .log_popup > .log_part > .log_userpasswd_title {
            color: #000;
        }

        body > form > .log_popup > .log_part > .log_userpasswd_input {
            margin : 5px 0px;
        }

        body > form > .log_popup > .log_part > .log_userpasswd_input > input{
            border-radius: 30px;
        }

        body > form > .log_popup > .log_part > .log_submit_btn {
            margin-top: 10px;
        }

        /* body > form > .log_popup > .log_part > .log_submit_btn > input {
            border-radius: 20px;
        } */

        body > form > .log_popup > .log_part > .log_cancel_btn {
            margin-top: 10px;
        }

        /* body > form > .log_popup > .log_part > .log_cancel_btn > input {
            border-radius: 20px;
        } */

        body > form > .sub_popup {
            background-color: transparent;
            position: absolute;
            top : 300px;
            width: 100%;
            height: 500px;
            visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body > form > .sub_popup > .sub_part {
            background-color: rgb(255, 255, 255);
            height: 400px;
            width: 400px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            visibility: hidden ;
            align-items: center;
            /* z-index: 1; */
            /* box-shadow; */ 
        }

        body > form > .sub_popup > .sub_part > .sub_title {
            color: #000;
            text-align: center;
        }

        body > form > .sub_popup > .sub_part > .sub_user_title {
            color: #000;
            margin-top: 15px;
        }

        body > form > .sub_popup > .sub_part > .sub_user_input {
            margin : 5px 0px;
        }

        body > form > .sub_popup > .sub_part > .sub_user_input > input{
            border-radius: 30px;
        }

        body > form > .sub_popup > .sub_part > .sub_userpasswd_title {
            color: #000;
        }

        body > form > .sub_popup > .sub_part > .sub_userpasswd_input {
            margin : 5px 0px;
        }

        body > form > .sub_popup > .sub_part > .sub_userpasswd_input > input{
            border-radius: 30px;
        }

        body > form > .sub_popup > .sub_part > .sub_submit_btn {
            margin-top: 10px;
        }

        /* body > form > .sub_popup > .sub_part > .sub_submit_btn > input {
            border-radius: 20px;
        } */

        body > form > .sub_popup > .sub_part > .sub_cancel_btn {
            margin-top: 10px;
        }

        /* body > form > .sub_popup > .sub_part > .sub_cancel_btn > input {
            border-radius: 20px;
        } */

        
        /* ########################################################################################### */

    /* ########################################################################################## */

/* ########################################################################################## */